 :root {

    --main-trans: 0.25s ease-in;
    --main-padding: 40px;
    --main-margin:40px;
    --main-color: #FFD11C;
    --sec-color:#fff;
 }

 * {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
 }

 html {
     font-size: 16px;
	 scroll-behavior:smooth;
 }

 .container {
     margin-left: 10px;
     margin-right: 10px;
 }

/* home section start */

 #home {
    padding-top: 15px;
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-position: -590px 0;
    background-size:cover;

 }

 #home header {

    background-color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
 }

 #home>header>.container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

 }


 #home header aside {

    display: flex;
    align-items: center;
    flex-basis: 60%;
 }


 #home header aside img {
     width: 30px;
 }

 #home header aside span {
    color: var(--main-color);
    font-size: 22px;
    text-transform: capitalize;
    font-variant: small-caps;
    font-weight: 800;
    letter-spacing: -1px;
    font-style: italic;
    margin-left: 7px;
 }



 #home header label {

    color:var(--main-color);
    display: inline-block;
    font-size: 19px;
 }

 #home header nav {

    display: none;
    width: 100%;
 }

 #menu:checked+nav {

    display: block;
 }

 #menu {
     display: none;
 }



 #home header nav>a {

    text-decoration: none;
    color: var(--sec-color);
    display: block;
    padding: 10px 0;
    border-bottom: thin solid #ddd;
    text-align: center;
    text-transform: capitalize;
    transition: var(--main-trans);
  }

  #home header nav>a:hover {
    
    color: var(--main-color);
  }


  #home header nav>div {

    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    align-items: center;
    flex-basis: 100%;
  
  } 


  #home header nav>div>a {

    display: inline-block;
    color: #fff;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    line-height: 27px;
    border-radius: 50%;
    text-align: center;
    transition: var(--main-trans);
  }


  #home header nav>div>a:first-child:hover {

    transform: scale(1.2);
    background-color: #36b2e5;

  }


  #home header nav>div>a:nth-child(2):hover {

    transform: scale(1.2);
    background-color: #445ea8;

  }

  #home header nav>div>a:last-child:hover {

    transform: scale(1.2);
    background-color: #a23465;

  }




  #home>.container {
    margin-top: 300px;

  }

 #home>.container .content {
    text-align: center;
  }

  #home>.container .content p {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
  }


  #home>.container .content h2 {
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 700;
  }

  #home>.container .content h2 span {
    color:#cd8383;
  }

  #home>.container .content a {
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    color: #000;
    background-color: #fff;
    padding: 10px 40px;
    border-radius: 20px;
    transition: var(--main-trans);
  }


  #home>.container .content a:hover {
    color:var(--main-color);
  }
  
  
    
  #home article {
	  
	  background-color:#000;
	  color:#fff;
  }
  
  
  #home article>.container {
	  
	  margin-top: var(--main-margin);
      margin-bottom: var(--main-margin);
      padding-top: var(--main-padding);
      padding-bottom: var(--main-padding);
}
	  
  
 #home article>.container h3 {
	 
	 margin-bottom:10px;
	 text-transform:capitalize;
	 color:#FDCF18;
	 font-size: 25px;
	 
 }
 

 #home article>.container p {
	 
	 text-align:justify;
 }


 
 #home>p {
	 
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 20px;
}




/* home section end */




/* products section start */

 #products {
	
	margin-top:var(--main-margin);
    margin-bottom:var(--main-margin);
}


 #products .container {
	 
	 display:flex;
	 flex-wrap:wrap;
 }
 
 
 #products .container h2 {
	 
  width: 100%;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 30px;
}
 
 
 #products .container .box {
	 
	 width: 100%;
     background-color: #000;
	 margin-bottom: 30px;
     border-radius: 5px;
 }
 
 
 #products .container .box img {
	 
	 max-width:100%;
	 position:relative;
 }
 
 
 #products .container .box span {
	 color:white;
	 position: absolute;
     left: 10%;
     display: inline-block;
     background-color: #00000091;
     padding: 8px 6px;
     margin-top: 20px;
     border-radius: 9px;
}
 
 #products .container .box h3 {
	 
	 color: var(--main-color);
     padding: 10px;
     text-transform: capitalize;
     font-size: 25px;
 }
	 

 
 
 #products .container .box p {
	 color:white;
	 padding: 10px;
     text-align: justify;

 }
 
/* products section end */



/* "new" section start */



 #new {
	 margin-top:var(--main-margin);
	 padding-top:var(--main-padding);
	 background-color:#000;
	 
 }
 
 
 #new>.container h2 {
	 
	 width:100%;
	 color:var(--main-color);
	 text-transform:capitalize;
	 margin-bottom:15px;
	 font-weight:400;
	 text-align:center;
	 font-size:30px;
 }
 
 
  #new>.container img {
	 
	 max-width:100%;
	 margin-bottom:20px;
 }
 

  #new article {
	 margin-top:var(--main-margin);
	 padding-top:30px;
	 padding-bottom:30px;
	 background-image:url("../images/sep.png");
	 background-position:center center;
	  
  }
  
  
  #new article .container {
	 display: flex;
     justify-content: space-evenly;
     align-items: center;
}
	  
  #new article .container aside {
	  flex-basis:60%;
  }
  
  
  #new article .container h3 {
	  
	 color: #fff;
     margin-bottom: 15px;
     font-weight: 400;
     text-transform: uppercase;
}
  
  
  #new article .container p {
	  
     color: #fff;
     font-size: 27px;
     font-weight: 800;
     text-transform: capitalize;
}
  
  
  #new article .container a {
	  
	  text-decoration: none;
     color: #000;
     background-color: #fff;
     padding: 10px 21px;
     border-radius: 20px;
     text-transform: capitalize;
     transition: var(--main-trans);

  }

  #new article .container a:hover {
     color: var(--main-color);
  }
  
  
  /* "new" section end */
  
  
  
  
  
  /* about section start */
  
  
  #about {
	 
	 background-color:#000;
	 color:#fff;
	 padding-top:var(--main-padding);
	 padding-bottom:var(--main-padding);
	 
	  
  }
  
  
  #about .container h2 {
	  
	 width:100%;
	 margin-bottom:15px;
	 text-transform:capitalize;
	 font-weight:400;
	 font-size:30px;
	  
  }
  
  
  #about .container p {
	 margin-bottom:15px;
  }
  
  
  #about .container img {
	 
	 max-width:100%;
	 margin-bottom:40px;
	  
  }
  
  
  #about .container article {
	  
	  display:flex;
	  flex-wrap:wrap;
	  justify-content:space-between;
	  align-items:center;
  }
  
  
  #about .container .box {
	  
	 flex-basis:100%;
     text-align: center;
     padding-bottom: 4px;
	 margin-bottom:45px;
     border-bottom: thin dotted #ccc;
}
  
  
  
  #about .container .box h3 {
	  
	  font-size: 40px;
      margin-bottom: 15px;
      font-weight: 800;
}
  
  
  #about .container .box h4 {
	  
	 margin-bottom: 5px;
     text-transform: capitalize;
}





/* contact section start */


#contact {
    
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background: linear-gradient(rgba(111, 139, 175, 0.438),rgba(111, 139, 175, 0.438)), url("../images/contactus.jpg") no-repeat center center;

}


#contact>.container {

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#contact>.container article {
  flex-basis: 100%;
  margin-bottom: 25px;
}



#contact .container article p {

  color: #fff;
  text-align: justify;
  font-size: 18px;
}

#contact .container article h2 {

  color: var(--main-color);
  font-size: 35px;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 600;
 
}


#contact .container form {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0px 0px 1px 2px #FDCF18;
  padding: 60px 3px;
}


#contact .container form input {

  width: 90%;
  border: none;
  padding: 13px;
  margin-bottom: 15px;
  transition: var(--main-trans);
}



#contact .container form input[type="submit"] {

  background-color: var(--main-color);
  color: #000;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 4px;
  cursor: pointer;
}


#contact .container form input:hover {

  box-shadow: inset 0px 0px 1px 2px var(--main-color);
}



#contact .container form input[type="submit"]:hover {

  box-shadow: 0px 0px 2px 2px #fff;
}



/* footer section start */



footer {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: #000;
  border-top: var(--main-color) 10px solid;

}


footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}


footer .container ul {

  flex-basis: 100%;
  list-style-type: none;
  text-align: center;
  margin-bottom: 25px;
  border-bottom: dotted thin #ccc;
  padding-bottom: 10px;

}


footer .container ul li a {

  text-decoration: none;
  color: #ccc;
  font-size: 19px;
  text-transform: capitalize;
  margin-bottom: 15px;
  display: inline-block;
  transition: var(--main-trans);
}

footer .container ul li a:hover {

  color:var(--main-color)
}


footer .container ul li i {
  margin-right: 17px;
  width: 20px;
}





footer .container form {
  flex-basis: 100%;
  text-align: center;
}


footer .container form input[type="email"] {

  border:none;
  background-color: #000;
  color: #fff;
  border-bottom: #fff solid 2px;
  padding: 10px 70px 10px 4px;
  text-transform: capitalize;
  margin-bottom: 15px;
  font-size: 18px;
  width:90%;

}



footer .container form input[type="submit"] {

  border: none;
  background-color: #fff;
  padding: 12px 30px;
  border-radius: 25px;
  text-transform: capitalize;
  font-size: 15px;
  width:85%;
  cursor: pointer;
  transition: var(--main-trans);

}

footer .container form input[type="submit"]:hover {

  box-shadow: 0px 0px 2px 2px var(--main-color);
}










  
  




 /* media query */



/* Medium devices (tablets, 768px and up) */
@media (min-width:768px) {  
    .container {
        width: 730px;
        margin-left: auto;
        margin-right: auto;
    }

     /* home section */

    #menu:checked+nav {
		display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        align-items: center;
     }

     
 #home header nav>a {

   flex-basis: 49%;
  }

  #home>.container .content {
    text-align: justify;
  }

  #home {
    background-position: top center;
	background-size:cover;
  }

   /* products section  */
	 
 #products .container .box {
	 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
 
 #products .container .box img {
	 
	max-width: 48%;
 }
 
  #products .container .box h3 {
	 
	width:10%;
 }
 
 
 #products .container .box p {
	 
	 padding: 35px;
     text-align: justify;
     width: 40%;
 }
 
 
 /* new section */
   #new>.container{
	   
	   display:flex;
	   flex-wrap:wrap;
	   justify-content:space-between;
	   
   }   
   
   #new>.container img {
	 
	 max-width:49%;
	 margin-bottom:20px;
 }
 
 /* about section */
 
    #about .container {
		
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		align-items:center;
	}
    
 
   #about .container .box {
	  
	 flex-basis:49%; 
	 margin-bottom:40px;
    
}



  /* footer section */
 
  footer .container ul {

    flex-basis: 20%;
    text-align: justify;
    margin-bottom: 0;
    border: none;
    padding-bottom: 0;
  }



  footer .container form input[type="email"] {

    width:75%;
    margin-top: 25px;
  }


  footer .container form input[type="submit"] {

    width:60%;
    
  }
  



/* Large devices (desktops, 992px and up) */

@media (min-width:992px) {
    .container {
        width:930px;
    }
	
	/* home section */
	#home {
    background-position: center center;
	background-size:cover;
  }

    #home>header>.container {

        flex-wrap: nowrap;
		display:flex;
    }

    #home header label {
        display: none;
    }

    #home header nav {
        display: flex;
		align-items: center;
    }

    #menu:checked + nav {
     flex-wrap: nowrap;
     width: 70%;
   } 

   #home header nav > a {
     flex-basis: 20%;
     border: none;
   }

   #home header nav > div {
       justify-content: space-between;
       flex-basis: 21%;
	   padding:0;
   }

   
   /* products section */
  #products .container {
	 
	 display:flex;
	 flex-wrap: no-wrap;
	 justify-content: space-between;
 }
 
 
	 
 #products .container .box {
	 
     display: block;
     flex-basis:32%;
}
 
 
 #products .container .box img {
	 
	max-width: 100%;
 }
 
  #products .container .box h3 {
	 
	width:10%;
 }
 
 
 #products .container .box p {
	 
	 padding: 10px;
     text-align: justify;
     width: auto;
 }
 
 
 
 
 /* about section */
    
	
	#about .container article {
		
	 flex-basis: 48%;
	}
 
    #about .container .box {
	  
     flex-basis: 48%;
     margin-bottom: 20px;
     text-align: start;
	}

    #about .container img {
	 
	 max-width:47%;
	 margin-bottom:20px;
    }

    /* contact section */


    #contact>.container article {
      flex-basis: 48%;
      margin-bottom: 0px;
    }


    #contact .container form {
      flex-basis: 35%;
    }



      /* footer section */
 
  footer .container ul {

    flex-basis: 32%;
  }

  footer .container form {
    flex-basis: 32%;
    text-align: justify;
  }


  footer .container form input[type="email"] {

    width:90%;
    margin-top: 25px;
  }


  footer .container form input[type="submit"] {

    width:40%;
    
  }
    







/* Extra large devices (large desktops, 1200px and up) */


@media (min-width:1200px) {
    .container {
        width:1140px;
    }
	
	 /* new section */
 
   #new>.container{
	   
	   flex-wrap:no-wrap;	   
   }   
   
   #new>.container img {
	 
	 max-width:24%;
 }
    





}